#cloud-config
users:
  - name: ${ name }
    uid: "${ uid }"
    gecos: ${ gecos }
    hashed_passwd: ${ hashed_passwd }
    sudo: ALL=(ALL) ALL
    shell: ${ shell }
    homedir: ${ homedir }
    lock_passwd: false
    ssh_authorized_keys:
      %{ for key in ssh_keys ~}
      - ${key}
      %{ endfor ~}
